@model YPrime.eCOA.DTOLibrary.SystemActionDto

@{
    var saved = (bool) ViewData["Saved"];
}
<div class="panel panel-default" data-guid="@Model.Id" data-saved="@saved.ToString().ToLower()">
    <div class="panel-heading">
        <em id="addRemoveIcon" class="pull-left @(saved ? "fa fa-times-circle-o fa-2x grid-false-icon" : !saved ? "fa fa-plus-circle fa-2x grid-true-icon" : "")"></em>
        <h3 class="panel-title pull-left">
            <strong>@Model.Name</strong> - <em>@Model.Description</em>
            @{
                var iconcss = saved ? "fa-save" : "";
            }
        </h3>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(
        function() {
            //set the hover over for the items
            $('.panel-hover .panel').each(function() {
                $(this).hover(
                    function() {
                        $(this).removeClass('panel-default').addClass('panel-primary');
                    },
                    function() {
                        $(this).removeClass('panel-primary').addClass('panel-default');
                    });
            });
        });
</script>